@charset "UTF-8";

/*ccs-1*/
.whj_jqueryPaginationCss-1{
    display: inline-block;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.whj_jqueryPaginationCss-1 div{
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px;
}
.whj_jqueryPaginationCss-1 .whj_padding{
    padding: 1px 9px;
}
.whj_jqueryPaginationCss-1 .whj_bgc{
    background-color: #fff;
    color: #698ca9;
}
.whj_jqueryPaginationCss-1 .whj_border{
    border: 1px solid #5b9fd6;
}
.whj_jqueryPaginationCss-1 .whj_color{
    color: #698ca9;
}
.whj_jqueryPaginationCss-1 .whj_hover:hover{
    background-color: #d4f1ff;
    color: #698ca9;
    cursor: pointer;
}
.whj_jqueryPaginationCss-1 .whj_checked{
    background-color: #d4f1ff;
    color: #698ca9;
}
.whj_jqueryPaginationCss-1 .whj_hoverDisable{
    opacity: 0.5;
}
.whj_jqueryPaginationCss-1 select{
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}
.whj_jqueryPaginationCss-1 input{
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}
.whj_jqueryPaginationCss-1 div,.whj_jqueryPaginationCss-1 input,.whj_jqueryPaginationCss-1 select{
    margin: 2px;
}

/*ccs-2*/
.whj_jqueryPaginationCss-2{
    display: inline-block;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.whj_jqueryPaginationCss-2 div{
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px;
}
.whj_jqueryPaginationCss-2 .whj_padding{
    padding: 1px 9px;
}
.whj_jqueryPaginationCss-2 .whj_bgc{
    background-color: #5194ca;
    color: #fff;
}
.whj_jqueryPaginationCss-2 .whj_border{
    border: 1px solid #5194ca;
}
.whj_jqueryPaginationCss-2 .whj_color{
    color: #5194ca;
}
.whj_jqueryPaginationCss-2 .whj_hover:hover{
    background-color: #d4f1ff;
    color: #5194ca;
    cursor: pointer;
}
.whj_jqueryPaginationCss-2 .whj_checked{
    background-color: #d4f1ff;
    color: #5194ca;
}
.whj_jqueryPaginationCss-2 .whj_hoverDisable{
    opacity: 0.7;
}
.whj_jqueryPaginationCss-2 select{
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}
.whj_jqueryPaginationCss-2 input{
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}
.whj_jqueryPaginationCss-2 div,.whj_jqueryPaginationCss-2 input,.whj_jqueryPaginationCss-2 select{
    margin: 2px;
}

/*ccs-3*/
.whj_jqueryPaginationCss-3{
    display: inline-block;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.whj_jqueryPaginationCss-3 div{
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px;
}
.whj_jqueryPaginationCss-3 .whj_padding{
    padding: 1px 9px;
}
.whj_jqueryPaginationCss-3 .whj_bgc{
    background-color: #7a7b7b;
    color: #fff;
}
.whj_jqueryPaginationCss-3 .whj_border{
    border: 1px solid #929292;
}
.whj_jqueryPaginationCss-3 .whj_color{
    color: #929292;
}
.whj_jqueryPaginationCss-3 .whj_hover:hover{
    background-color: #e0dddd;
    color: #7a7b7b;
    cursor: pointer;
}
.whj_jqueryPaginationCss-3 .whj_checked{
    background-color: #e0dddd;
    color: #7a7b7b;
}
.whj_jqueryPaginationCss-3 .whj_hoverDisable{
    opacity: 0.5;
}
.whj_jqueryPaginationCss-3 select{
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}
.whj_jqueryPaginationCss-3 input{
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}
.whj_jqueryPaginationCss-3 div,.whj_jqueryPaginationCss-3 input,.whj_jqueryPaginationCss-3 select{
    margin: 2px;
}

/*ccs-4*/
.whj_jqueryPaginationCss-4{
    display: inline-block;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.whj_jqueryPaginationCss-4 div{
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px;
}
.whj_jqueryPaginationCss-4 .whj_padding{
    padding: 1px 9px;
}
.whj_jqueryPaginationCss-4 .whj_bgc{
    background-color: #f5f5f5;
    color: #907272;
}
.whj_jqueryPaginationCss-4 .whj_border{
    border: 1px solid #907272;
}
.whj_jqueryPaginationCss-4 .whj_color{
    color: #907272;
}
.whj_jqueryPaginationCss-4 .whj_hover:hover{
    background-color: #afacac;
    color: #fff;
    cursor: pointer;
}
.whj_jqueryPaginationCss-4 .whj_checked{
    background-color: #afacac;
    color: #fff;
}
.whj_jqueryPaginationCss-4 .whj_hoverDisable{
    opacity: 0.5;
}
.whj_jqueryPaginationCss-4 select{
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}
.whj_jqueryPaginationCss-4 input{
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}
.whj_jqueryPaginationCss-4 div,.whj_jqueryPaginationCss-4 input,.whj_jqueryPaginationCss-4 select{
    margin: 2px;
}

/*ccs-5*/
.whj_jqueryPaginationCss-5{
    display: inline-block;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.whj_jqueryPaginationCss-5 div{
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px;
}
.whj_jqueryPaginationCss-5 .whj_padding{
    padding: 1px 9px;
}
.whj_jqueryPaginationCss-5 .whj_bgc{
    background-color: #199eaf;
    color: #fff;
}
.whj_jqueryPaginationCss-5 .whj_border{
    border: 1px solid #199eaf;
}
.whj_jqueryPaginationCss-5 .whj_color{
    color: #199eaf;
}
.whj_jqueryPaginationCss-5 .whj_hover:hover{
    background-color: #d4f1ff;
    color: #199eaf;
    cursor: pointer;
}
.whj_jqueryPaginationCss-5 .whj_checked{
    background-color: #d4f1ff;
    color: #199eaf;
}
.whj_jqueryPaginationCss-5 .whj_hoverDisable{
    opacity: 0.5;
}
.whj_jqueryPaginationCss-5 select{
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}
.whj_jqueryPaginationCss-5 input{
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}
.whj_jqueryPaginationCss-5 div,.whj_jqueryPaginationCss-5 input,.whj_jqueryPaginationCss-5 select{
    margin: 2px;
}
